* {
	margin-top: 0;
	box-sizing: border-box;
	transition: all 0.2s ease;
}

body {
	font-family: Droid Serif;
}

.grid-wrap {
	display: grid;
	grid-template-columns: 3fr 1fr 2fr 2fr 2fr 1fr 3fr;
	place-items:center;
	min-height: 0;
	min-width: 10vw;
	background-color: #fdfdfd;
}

header {
	grid-row: 1;
	height: 12rem;
}

.page-title {
	grid-row: 	 2;
	grid-column: 2/ 7;
	white-space: nowrap;
	color: rgba(74, 72, 72, 0.62);
	font-size: 2rem;
	font-weight: bold;
}

.dim-circles {
	grid-row: 	 3/4;
	grid-column: 2/7;
	min-height: 0;
	align-self: center;
	position: relative;
	background-color: rgba(248, 231, 57, 0.86);
	border-radius: 50%;
	height:20vmin;
	width: 20vmin;
	box-shadow: -22vmin -17vmin 0px 0px #e44343e6,
				 21vmin -17vmin 0px 0px #438ee4e6;
	top:4rem;
	margin-bottom: 5rem;
}

/*::after is transparent expanding the aoe of the hover to include shadows*/
.dim-circles::after {
    content: " ";
    display: block;
    background: #f7505000;
    height: 50vmin;
    width: 65vmin;
    position: absolute;
    border-radius: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-77%);
}

/*expand circles change colors*/
.dim-circles:hover {
    transition: all 1.3s ease;
    height: 28vmin;
    width: 28vmin;
    top: 2rem;
    background-color: rgba(235, 179, 89, 0.83);
    box-shadow: -7vmin  -3vmin 0px  52px rgba(235, 179, 89, 0.8392156862745098), 
    			22vmin -19vmin 0px -34px #8cbaefe6;
}


/* image place holder for the interactive chart with inputs*/
.chart-input {
	height: 85vmin;
	grid-row: 4/6;
	grid-column: 2/7;
	min-height: 100%;
	margin-bottom: 60px;
}

.chords-output {
	grid-row: 5;
	grid-column: 4;
	padding-right:3rem;

}

/*Media Query Mobile to Desktop*/
@media only screen and (min-width: 600px){
	.page-title {
		font-size: 3rem;
	}
	.chart-input {
		margin-bottom: -20vh;
	}
	.chords-output {
	    display: flex;
	    justify-content: space-between;
	   width: 125%;

	}
}
.chords-output__title {
	list-style: none;
	color: rgba(74, 72, 72, .99);
	font-weight: bold;
}

.chord-out {
	color: rgba(74,72,72, .8);
	font-weight: 100;
}